<table>
  <tbody>
  <tr>
    <th>name</th>
    <th>bytes</th>
  </tr>

  <% @files.each do |file| %>
    <tr>
      <td><%= link_to file[:name], hogee_path(file[:name]) %></td>
      <td><%= file[:size] %></td>
    </tr>
  <% end %>

  </tbody>
</table>
