



<table>
    <tbody>
        <tr>
            <th>name</th>
            <th>bytes</th>
        </tr>

        <% @files.each do |file| %>
        <tr>
            <td><a href="/shogi/view/<%= file[:basename] %>"><%= file[:name] %></a></td>
            <td><%= file[:size] %></td>
        </tr>
        <% end %>

    </tbody>
</table>



<ul>
    <% @files.each do |file| %>
    <li><%= file.inspect %></li>
    <% end %>
</ul>
