// Place all the styles related to the shogi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.capturedPiece-white{width: 5em}
.capturedPiece-black{width: 5em;    writing-mode: vertical-rl; text-align: right;}


table.shogi {
    border-collapse: collapse;
    td {
        border: 1px solid black;
        width: 4rem;
        height: 4rem;
        text-align: center;
        vertical-align: middle;
        font-size: 3rem;
    }
    td.d {
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 1.5rem;
    }
    td.l {
        border-top: none;
        border-bottom: none;
        border-right: none;
        font-size: 1.5rem;
    }
}

.rotate {
    transform: rotate(180deg);
    display: inline-block;
}

.flex-container {
    display: flex;
}

div {
    margin: 1rem;
}
