// Place all the styles related to the shogi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.capturedPiece-white {
  width: 5em;
}

.capturedPiece-black {
  width: 5em;
  writing-mode: vertical-rl;
  text-align: right;
}

@font-face {
  font-family: 'shogi';
  src: url('/fonts/shogi.woff') format('woff');
}

table.board {
  border-collapse: collapse;

  th, td {
    width: 4rem;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
  }

  th {
    font-size: 1.5rem;
    font-weight: 400;
  }

  td {
    border: 1px solid;
    font-family: 'shogi';
    font-size: 3.5rem;
  }

  td.rotate {
    transform: rotate(0.5turn);
  }

  td.highlight {
    background-color: #c3deb7;
  }
}

span.rotate {
  transform: rotate(0.5turn);
  display: inline-block;
}


.flex-container {
  display: flex;
}

div {
  margin: 1rem;
}



span  {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shogi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

